.DS_Store
nbproject/*
nbproject
.idea
.vimrc
.rvmrc
.powrc
.vim
.sass-cache/
/.bundle
.yardoc/*

log
log/*.log
tmp
tmp/**/*
tmp/**/**/*
tmp/*
log/*

solr
solr/*

.project
*.sw*
coverage/*
ERD.pdf

doc/*
