<% content_for :head do -%>
  <!--<%= stylesheet_link_tag 'home_page.css' %>-->
<% end %>

<div class="row" style="position:relative;top:40px;margin-left:0;">
	<div class="carousel">
		<img src="http://www.placehold.it/1366x500">
	</div>
</div>
<div class="container body welcome" style="position:relative;top:40px">
	<div class="row" style="margin-bottom:18px">
		<div class="span12">
			<img src="http://www.placehold.it/940x40">
		</div>
	</div>
	<div class="row" style="margin-bottom:18px">
		<div class="span4">
			<img src="http://www.placehold.it/300">
		</div>
		<div class="span4">
			<img src="http://www.placehold.it/300">
		</div>
		<div class="span4">
			<img src="http://www.placehold.it/300">
		</div>
	</div>
	<div class="row" style="margin-bottom:18px">
		<div class="span8">
			<img src="http://www.placehold.it/620">
		</div>
		<div class="span4">
			<img src="http://www.placehold.it/300x620">
		</div>
	</div>
	<div class="row" style="margin-bottom:18px">
		<div class="span12">
			<img src="http://www.placehold.it/940x40">
		</div>
	</div>
</div>

<!-- <div id='left_side_panel' class='span-6 last'>
&nbsp;
</div>

<div id='featured_item' class='span-18 last'>
  <%= image_tag 'home.png' %>
  <h1><%= site_name %></h1>
</div> -->

