
<% content_for :head do -%>
  <%= stylesheet_link_tag 'products_page.css' %>
<% end %>

<div class="row" style="position:relative;top:112px;margin-left:0;">
  <div class="carousel">
    <img src="http://www.placehold.it/1366x500">
  </div>
</div>
<div class="container body welcome" style="position:relative;top:112px">
  <div class="row" style="margin-bottom:18px">
    <div class="span12 products-new">
      <img src="http://www.placehold.it/940x470">
    </div>
  </div>
  <div class="row" style="margin-bottom:18px">
    <div class="span12 sale-or-advertisement">
      <img src="http://www.placehold.it/940x470">
    </div>
  </div>
  <div class="row" style="margin-bottom:18px">
    <div class="span12">
      <img src="http://www.placehold.it/940x40">
    </div>
  </div>
  <div class="row" style="margin-bottom:18px">
    <div class="span12">
      <img src="http://www.placehold.it/940x40">
    </div>
  </div>
</div>