<%= form_for search_product, :html => {:class => 'form-search pull-right'} do %>
  <div class="field search">
    <%= text_field_tag 'q', nil , 
    	:class => 'input-medium search-query', 
    	:id => 'term',
    	:placeholder => 'search' %>
    <%= submit_tag 'ô', :class => 'btn' %>
    	<!-- <span class="icon-search"></span> -->
  </div>
<% end %>